<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
    {% include 'menu.html' %}
    <h1>Devices</h1>

    <div>
    <h3>Crear dispositivo</h3>
    {{ message|safe }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear dispositivo</button>
    </form>
    </div>

    {% if devices_list %}
        <table>
            <tr>
                <td>Id</td>
                <td>Activo</td>
                <td>Id device</td>
                <td>Os</td>
                <td>Usuario</td>
                <td>Fecha creación</td>
                <td>Fecha modificación</td>
            </tr>
        {% for phone in devices_list %}
            <tr>
                <td><a href="/shop_list2/devices/{{phone.id}}">{{ phone.id}}</a></td>
                <td>{{ phone.active}}</td>
                <td><a href="/shop_list2/devices/{{phone.id}}">{{ phone.id_device}}</a></td>
                <td>{{ phone.os}}</td>
                {% for user in phone.user_set.all %}
                    <td><a href="/shop_list2/users/{{user.id}}">{{user.name}} {{user.last_name}}</a></td>
                {% endfor %}
                <td>{{ phone.created_at}}</td>
                <td>{{ phone.modified_at}}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No devices are available.</p>
    {% endif %}
    <a href="/shop_list2">Atrás</a>
</body>
</html>