{% include 'header.html' %}

    <h1 class="col-md-12">Dashboard</h1>

    <div class="row">
    <div class="col-md-2">
     <a href="/shop_list2/users"><h3>User List</h3></a>
    {% if db_users_list %}
        <ul>
        {% for user in db_users_list %}
            <a href="/shop_list2/users/{{user.id}}"><li>{{ user.id}} - {{ user.name}}</li></a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
    </div>

    <div class="col-md-2">
    <a href="/shop_list2/groups"><h3>Group List</h3></a>
    {% if db_groups_list %}
        <ul>
        {% for group in db_groups_list %}
            <a href="/shop_list2/groups/{{group.id}}"><li>{{ group.id}} - {{ group.name}}</li><a/>
        {% endfor %}
        </ul>
    {% else %}
        <p>No groups are available.</p>
    {% endif %}
    </div>

    <div class="col-md-2">
    <a href="/shop_list2/devices"><h3>Device List</h3></a>
    {% if db_devices_list %}
        <ul>
        {% for phone in db_devices_list %}
            <a href="/shop_list2/devices/{{phone.id}}"><li>{{ phone.id}} - {{ phone.id_device}}</li><a/>
        {% endfor %}
        </ul>
    {% else %}
        <p>No devices are available.</p>
    {% endif %}
    </div>

    <div class="col-md-2">
    <a href="/shop_list2/orders"><h3>Order List</h3></a>
    {% if db_orders_list %}
        <ul>
        {% for order in db_orders_list %}
            <a href="/shop_list2/orders/{{order.id}}"><li>{{ order.id}} - {{ order.name}}</li><a/>
        {% endfor %}
        </ul>
    {% else %}
        <p>No order are available.</p>
    {% endif %}
    </div>

    <div class="col-md-2">
    <a href="/shop_list2/items"><h3>Items List</h3></a>
    {% if db_items_list %}
        <ul>
        {% for item in db_items_list %}
            {%for order in item.order_set.all %}
                <a href="/shop_list2/items/{{item.id}}"><li>{{ item.id}} - {{ order.id}} - {{ item.product}}</li><a/>
            {% endfor %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No item are available.</p>
    {% endif %}
    </div>

    <div class="col-md-2">
    <a href="/shop_list2/products"><h3>Product List</h3></a>
    {% if db_products_list %}
        <ul>
        {% for product in db_products_list %}
            <a href="/shop_list2/products/{{product.id}}"><li>{{ product.id}} - {{ product.name}}</li><a/>
        {% endfor %}
        </ul>
    {% else %}
        <p>No products are available.</p>
    {% endif %}
    </div>

    </div>

{% include 'footer.html' %}