<head lang="en">
    <meta charset="UTF-8">
    <title>Shop list</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <script>
    //<![CDATA[
    jQuery(function() {
      jQuery('.primary-nav li').each(function() {
        var href = jQuery(this).find('a').attr('href');
        if (href === window.location.pathname) {
          jQuery(this).addClass('active');
          alert("entro");
        }
      });
    });
    //]]>
    </script>
</head>