<nav class="navbar navbar-default navbar-brand-shop">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-brand" title="Dashboard" href="/shop_list2">Dashboard</a></li>
                    <li ><a title="Users" href="/shop_list2/users">Users</a></li>
                    <li ><a title="Groups" href="/shop_list2/groups">Groups</a></li>
                    <li ><a title="Devices" href="/shop_list2/devices">Devices</a></li>
                    <li ><a title="Orders" href="/shop_list2/orders">Orders</a></li>
                    <li ><a title="Products" href="/shop_list2/products">Products</a></li>
                </ul>
        </div>
    </div>
</nav>
