<nav class="navbar navbar-default navbar-brand-shop">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav menu">
                    <li class="active"><a class="navbar-brand" title="Brand" href="/shop_list2">Lo Compro</a></li>
                    <li><a>The Shop list</a></li>
                </ul>
        </div>
    </div>
</nav>

<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/shop_list2"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/shop_list2/users"><i class="fa fa-male fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a href="/shop_list2/groups"><i class="fa fa-users fa-fw"></i> Groups</a>
                        </li>
                        <li>
                            <a href="/shop_list2/devices"><i class="fa fa-tablet fa-fw"></i> Devices</a>
                        </li>
                        <li>
                            <a href="/shop_list2/orders"><i class="fa fa-shopping-cart fa-fw"></i> Orders</a>
                        </li>
                        <li>
                            <a href="/shop_list2/products"><i class="fa fa-cutlery fa-fw"></i> Products</a>
                        </li>
                        <li>
                            <a href="/shop_list2/items"><i class="fa fa-sitemap fa-fw"></i> Items</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

<div id="page-wrapper">