{% include 'header.html' %}

    <a id="user_id_detail">Group {{group_detail.id}}</a>

    <button class="btn btn-xs btn-primary button-slidedown-modify">Modificar</button>
    <button class="btn btn-xs btn-warning button-slidedown-delete">Borrar</button>

    <div class="text-slidedown-modify">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Modificar grupo</button>
    </form>
    </div>

    <div class="text-slidedown-delete">
        <a href="/shop_list2/groups/{{group_detail.id}}/delete/">
            <button class="btn btn-xs btn-danger">Borrar grupo</button>
        </a>
    </div>


    <h2>{{group_detail.name}}</h2>
    <h3>{{group_detail.avatar}}</h3>
    <p>Active: {{group_detail.active}}</p>
    <p>{{group_detail.created_at}}</p>
    <p>{{group_detail.modified_at}}</p>


    <h3>Users</h3>
    {%if group_detail.users.all %}
        <table class="table">
            <tr>
                <td>Id</td>
                <td>Activo</td>
                <td>Avatar</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Email</td>
                <td>Fecha creación</td>
                <td>Fecha modificación</td>
            </tr>
        {% for user in group_detail.users.all %}
            <tr>
                <td><a href="/shop_list2/users/{{user.id}}">{{ user.id}}</a></td>
                <td>{{ user.active}}</td>
                <td><a href="/shop_list2/users/{{user.id}}">{{ user.avatar}}</a></td>
                <td><a href="/shop_list2/users/{{user.id}}">{{ user.name}}</a></td>
                <td><a href="/shop_list2/users/{{user.id}}">{{ user.last_name}}</a></td>
                <td><a href="/shop_list2/users/{{user.id}}">{{ user.email}}</a></td>
                <td>{{ user.created_at}}</td>
                <td>{{ user.modified_at}}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <a>No hay usuarios</a>
    {% endif %}

    <h3>Orders</h3>
    {%if group_detail.orders.all %}
        <table class="table">
            <tr>
                <td>Id</td>
                <td>Activo</td>
                <td>Nombre</td>
                <td>Products</td>
                <td>Fecha creación</td>
                <td>Fecha modificación</td>
            </tr>
        {% for order in group_detail.orders.all %}
            <tr>
                <td><a href="/shop_list2/orders/{{order.id}}">{{ order.id}}</a></td>
                <td>{{ order.active}}</td>
                <td><a href="/shop_list2/orders/{{order.id}}">{{ order.name}}</a></td>
                <td><a href="/shop_list2/orders/{{order.id}}">{{ order.products.all.count}}</a></td>
                <td>{{ order.created_at}}</td>
                <td>{{ order.modified_at}}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <a>No hay listados</a>
    {% endif %}

    <br>
    <a href="/shop_list2/orders">Atrás</a>

{% include 'footer.html' %}