{% include 'header.html' %}

    <a id="user_id_detail">Product {{product_detail.id}}</a>

    <button class="btn btn-xs btn-primary button-slidedown-modify">Modificar</button>
    <button class="btn btn-xs btn-warning button-slidedown-delete">Borrar</button>

    <div class="text-slidedown-modify">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Modificar producto</button>
    </form>
    </div>

    <div class="text-slidedown-delete">
        <a href="/shop_list2/products/{{product_detail.id}}/delete/">
            <button class="btn btn-xs btn-danger">Borrar producto</button>
        </a>
    </div>


    <h2>{{product_detail.name}}</h2>
    <p>{{product_detail.avatar}}</p>
    <p>Active: {{product_detail.active}}</p>
    <p>Quantity: {{product_detail.quantity}} {{product_detail.measure}}</p>
    <p>{{product_detail.created_at}}</p>
    <p>{{product_detail.modified_at}}</p>
    <p>Num orders: {{num_orders}}</p>

    <br>
    <a href="/shop_list2/products">Atrás</a>

{% include 'footer.html' %}